.comment{
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    
}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
    color: #fff;
    margin-top: 3px;
}

.comment p,.comment span,.darker p,.darker span{
    color: rgb(184, 183, 183);
}

.rounded-circle {
	margin-right: 15px;
}

.heroareaContent h4{ 
    color: #fff;
}